.header{
    display:flex;
    align-items:center;
    background:white;
    justify-content:center;
}
.wrapper{
    display:flex;
    width: 100%;
    padding:16px 0;
    max-width: 1024px;
    align-items:center;
    justify-content:space-between;
}
.logo{
    width:80%;
    max-width:180px;
}
.form{
    width:100%;
    max-width:550px;
    display:flex;
    align-items:center;
    position: relative;
    
}
.input{
    border:0;
    border-bottom:1px solid #7A7A7A;;
    width:100%;
    outline:none;
    padding:10px 0;
}
.button{
    cursor: pointer;
    background:transparent;
    border:none;
    position: absolute;
    right: 0;
}
.account{
    display:flex;
    align-items:center;
    font-family: Nunito;
    font-size: 13px;
    line-height: 18px;
    color: #7A7A7A;
    margin-left:14px;
}

.account__icon{
    width: 19px;
    margin-right:7px
}

.cart{
    
    display:flex;
    align-items: center;
}

.cart__quantity{
    margin-left:5px;
    width:14px;
    height:14px;
    background: #F8475F;
    color:white;
    font-size: 10px;
    
    border-radius:50%;
    display:flex;
    align-items:center;
    justify-content:center;
    position: relative;
}

.cart__quantity__text{
    position:absolute;
}
@media (max-width:768px){
    .wrapper {
        padding:7px 20px 10px 20px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 1px 1px;
        grid-template-areas: "account account logo logo logo cart cart" "input input input input input input input";
      }
    .account {
        grid-area: account; 
        
        display:flex;
        justify-content:flex-start;
        margin-left: 0;
    }
    .account__icon{
        width:25px;
    }
    .logo { 
        width:100%;
        grid-area: logo;

    }
    .account__text{
        display:none;

    }
    .cart {
        
        grid-area: cart;
        display:flex;
        justify-content:flex-end;
    }
    .form { 
        grid-area: input;
    }
}